/* FOoter */

footer.footer-dark.bg-dark-gray.p-0 {
    background: #222222;
}
footer .bg-dark-gray,.bg-dark-gray:focus{background-color:#232323}
footer .p-0{padding:0!important}
footer .container{padding-right:15px;padding-left:15px}
@media (min-width:576px){
footer .container{max-width:540px}
}
@media (min-width:768px){
footer .container{max-width:720px}
}
@media (min-width:992px){
footer .container{max-width:960px}
}
@media (min-width:1200px){
footer .container{max-width:1140px}
}
@media (min-width:1400px){
footer .container{max-width:1220px}
}
@media (min-width:1400px){
footer .container{max-width:1320px}
}
footer .container{--bs-gutter-x:1.5rem;--bs-gutter-y:0;width:100%;padding-right:calc(var(--bs-gutter-x)* .5);padding-left:calc(var(--bs-gutter-x)* .5);margin-right:auto;margin-left:auto}
footer .pb-35px{padding-bottom:35px!important}
footer .pt-35px{padding-top:35px!important}
@media (min-width:768px){
    footer .text-md-start{text-align:left!important}
}
footer .text-center{text-align:center!important}
@media (min-width:768px){
    footer .col-md-auto{flex:0 0 auto;width:auto}
}
footer .footer-logo img{max-height:55px}
footer .col{flex:1 0 0%}
footer .footer-navbar li{margin-bottom:0}
footer .footer-navbar li,.quantity,.shop-size li{display:inline-block}
footer .footer-navbar li:first-child a{padding-left:0}
footer .nav-link{color:#fff;padding:0 20px}
footer .bg-nero-grey,.bg-nero-grey:focus{background-color:#1b1b1b}
footer .pb-30px{padding-bottom:30px!important}
footer .pt-30px{padding-top:30px!important}
footer .align-items-center{align-items:center!important}
footer .fs-15{font-size:15px}
footer .col-12.col-lg-7.last-paragraph-no-margin.md-mb-15px.text-center.text-lg-start.lh-22 p{font-size:15px}
footer .lh-22{line-height:22px}
@media (min-width:992px){
    footer .text-lg-start{text-align:left!important}
}
footer .last-paragraph-no-margin p:last-of-type{margin-bottom:0}
.footer-dark,.footer-dark a,.footer-dark p{color:#828282}
footer .text-decoration-line-bottom{border-bottom:1px solid}
@media (min-width:768px){
    footer .text-md-end{text-align:right!important}
}
footer ul{padding:0;list-style:none;margin:0}
@media (min-width:992px){
footer .col-lg-7{flex:0 0 auto;width:58.33333333%}
footer .col-lg-5{flex:0 0 auto;width:41.66666667%}
}