<footer class="footer-dark bg-dark-gray p-0">
    <div class="container">
    <div class="row align-items-center pt-35px pb-35px">
    
        <!-- //fix: not working -->
    <!-- <div class="col-12 col-md-auto sm-mb-15px text-center text-md-start">
    <a href="demo-fashion-store.html" class="footer-logo">
        
        <img src="http://127.0.0.1:5501/img/logo/logo-dark.png"  alt="" class="default-logo">
    
    
    </a>
    </div> -->
    
    
    <div class="col">
    <ul class="footer-navbar text-center text-md-end">
    <li class="nav-item"><a href="demo-fashion-store.html" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="demo-fashion-store-shop.html" class="nav-link">Shop</a></li>
    <li class="nav-item"><a href="demo-fashion-store-collection.html" class="nav-link">Collection</a></li>
    <li class="nav-item"><a href="demo-fashion-store-magazine.html" class="nav-link">Magazine</a></li>
    <li class="nav-item"><a href="demo-fashion-store-about.html" class="nav-link">About</a></li>
    <li class="nav-item"><a href="demo-fashion-store-contact.html" class="nav-link">Contact</a></li>
    </ul>
    </div>
    
    </div>
    
    </div>
    <div class="pt-30px pb-30px bg-nero-grey">
    <div class="container">
    <div class="row align-items-center fs-15">
    <div class="col-12 col-lg-7 last-paragraph-no-margin md-mb-15px text-center text-lg-start lh-22">
    <p>This site is protected by reCAPTCHA and the Google <a href="#" class="text-white text-decoration-line-bottom">privacy policy</a> and <a href="#" class="text-white text-decoration-line-bottom">terms of service.</a></p>
    </div>
    <div class="col-12 col-lg-5 text-center text-lg-end lh-22">
    <span>© 2024 Crafto is Proudly Powered by <a href="https://www.themezaa.com/" target="_blank" class="text-decoration-line-bottom text-white">ThemeZaa</a></span>
    </div>
    </div>
    </div>
    </div>
    </footer>