<nav class="main-nav stick-fixed transparent wch-unset wow-menubar">
    <div class="full-wrapper main-nav-sub">
        <div class="local-scroll nav-logo-wrap"><a href=#top class=logo><img alt="Your Company Logo" src='../../../assets/img/logo/logo-dark.png' height=auto width=200></a></div>
        <div class=mobile-nav role=button tabindex=0><i class=mobile-nav-icon></i> <span class=visually-hidden>Menu</span></div>
        <div class="desktop-nav inner-nav">
            <ul class="local-scroll clearlist scroll-nav">
                <li><a routerLink="/home" class=active>Home</a></li>
                <li>
                    <a routerLink="/about" class="opacity-1 mn-has-sub">About Us 
                        <i class=mi-chevron-down></i>
                    </a>
               
                    <ul class=mn-sub>
                        <li><a href=#>English</a>
                        <li><a href=#>French</a>
                        <li><a href=#>German</a>
                    </ul>

                </li>   
                <li><a href=#blog>Blog</a> </li>
                <li><a routerLink="/contact">Contact</a> </li>
            </ul>
            <ul class="local-scroll clearlist items-end">
                <li><a href=# class="opacity-1 mn-has-sub">En <i class=mi-chevron-down></i></a>
                    <ul class="mn-sub to-left">
                        <li><a href=#>English</a>
                        <li><a href=#>French</a>
                        <li><a href=#>German</a>
                    </ul>
                <li><a href=#contact class="opacity-1 no-hover"><span class="link-hover-anim underline" data-link-animate=y>Let's work together</span></a>
            </ul>
        </div>
    </div>
</nav>