<header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <!-- //todo : site link  -->
        <a routerLink="/home" class="-m-1.5 p-1.5">
          <img class="h-8 w-auto" src="../../../assets/img/logo/logo-dark.png" alt="PeopleInsightLogo">
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">  
        <a routerLink="/home" routerLinkActive="text-blue-600 font-bold underline underline-offset-1" class="text-sm font-semibold leading-6 text-gray-900 hover:text-orange-500">Home</a>
        <a routerLink="/about" routerLinkActive="text-blue-600 font-bold underline underline-offset-1" class="text-sm font-semibold leading-6 text-gray-900 hover:text-orange-500">About Us</a>
        <a routerLink="/gallery" routerLinkActive="text-blue-600 font-bold underline underline-offset-1" class="text-sm font-semibold leading-6 text-gray-900 hover:text-orange-500">Gallery</a>
        <a routerLink="/news" routerLinkActive="text-blue-600 font-bold underline underline-offset-1" class="text-sm font-semibold leading-6 text-gray-900 hover:text-orange-500">In The News</a>
        <a routerLink="/contact" routerLinkActive="text-blue-600 font-bold underline underline-offset-1" class="text-sm font-semibold leading-6 text-gray-900 hover:text-orange-500">Contact Us</a>
      </div>
    </nav>  
  </header>