<main id=main style=opacity:1>
    <div class=site-content id=content>
        <div id=rs-fullblock>
            <div class="revslider wp-block-themepunch-revslider" data-modal=false data-slidertitle="Project Carousel">
                <p class=rs-p-wp-fix></p>
                <!-- <rs-module-wrap data-source=gallery id=rev_slider_839_1_wrapper style=visibility:hidden;background:#fff;padding:0>
                    <rs-module class=rs-respect-topbar data-version=6.6.18 id=rev_slider_839_1>
                        <rs-slides style=overflow:hidden;position:absolute>

                            
                            <rs-slide data-anim=ms:1000;r:0; data-in=o:0; data-iratio=0.75 data-key=rs-1746 data-out=a:false; data-thumb=img/rs-carousel/1slide.jpg data-title=Slide style=position:absolute>
                                <img  src=img/rs-carousel/1slide.jpg height=1200 width=900 class="rev-slidebg rs-lazyload tp-rs-img" title=hq2.jpg>


                                <rs-layer data-clip=u:true; data-frame_0=o:1;blu:7px;cp:0%; data-frame_1=sp:1000;blu:7px;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1746-layer-0 style=z-index:8;background-color:rgba(0,0,0,.5) data-dim=w:100%;h:100%;>
                                    <rs-bg-elem data-bglazy=img/rs-carousel/1slide.jpg style="background:url(img/rs-carousel/dummy.png) no-repeat center center;background-size:cover"></rs-bg-elem>
                                </rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;cp:0%; data-frame_1=sp:1000;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1746-layer-1 style=z-index:9;background-color:rgba(255,255,255,.05) data-dim=w:100%;h:100%;></rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:40;l:40; data-type=text id=slider-839-slide-1746-layer-2 style=z-index:13;font-family:Staatliches data-xy=xo:30px,30px,20px,20px;yo:30px,30px,20px,20px; class=rs-on-car>01</rs-layer>
                                <rs-layer data-clip=u:true;o:cv; data-frame_0=o:1;cp:0%; data-frame_1=e:power4.out;sp:2000; data-frame_999=st:w;sp:1000;sR:7000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=s:78,68,48,35;l:78,68,48,35; data-type=text id=slider-839-slide-1746-layer-3 style=z-index:10;font-family:Staatliches data-xy=x:c;y:m;>LSE 2024</rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:22,20;l:50,40;fw:600; data-type=text id=slider-839-slide-1746-layer-5 style=z-index:11;font-family:Inconsolata;cursor:pointer data-xy=x:c;y:b;yo:140px; data-border=bos:solid;boc:#ffffff;bow:1px,1px,1px,1px; data-frame_hover=c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut; data-padding=r:30,25,22,20;l:30,25,22,20;>Know more</rs-layer>
                            </rs-slide>
                            <rs-slide data-anim=ms:1000;r:0; data-in=o:0; data-iratio=1.33167 data-key=rs-1747 data-out=a:false; data-thumb=img/rs-carousel/2slide.jpg data-title=Slide style=position:absolute>
                                <img alt="" src=img/rs-carousel/2slide.jpg height=1200 width=1598 class="rev-slidebg rs-lazyload tp-rs-img" title=hq1.jpg>

                                <rs-layer data-clip=u:true; data-frame_0=o:1;blu:7px;cp:0%; data-frame_1=sp:1000;blu:7px;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1747-layer-0 style=z-index:8;background-color:rgba(0,0,0,.5) data-dim=w:100%;h:100%;>
                                    <rs-bg-elem data-bglazy=img/rs-carousel/2slide.jpg style="background:url(img/rs-carousel/dummy.png) no-repeat center center;background-size:cover"></rs-bg-elem>
                                </rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;cp:0%; data-frame_1=sp:1000;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1747-layer-1 style=z-index:9;background-color:rgba(255,255,255,.05) data-dim=w:100%;h:100%;></rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:40;l:40; data-type=text id=slider-839-slide-1747-layer-2 style=z-index:14;font-family:Staatliches data-xy=xo:30px,30px,20px,20px;yo:30px,30px,20px,20px; class=rs-on-car>02</rs-layer>
                                <rs-layer data-clip=u:true;o:cv; data-frame_0=o:1;cp:0%; data-frame_1=e:power4.out;sp:2000; data-frame_999=st:w;sp:1000;sR:7000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=s:78,68,48,35;l:78,68,48,35; data-type=text id=slider-839-slide-1747-layer-3 style=z-index:11;font-family:Staatliches data-xy=x:c;y:m;>Rajasthan, Nov 2023</rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:22,20;l:50,40;fw:600; data-type=text id=slider-839-slide-1747-layer-5 style=z-index:12;font-family:Inconsolata;cursor:pointer data-xy=x:c;y:b;yo:140px; data-border=bos:solid;boc:#ffffff;bow:1px,1px,1px,1px; data-frame_hover=c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut; data-padding=r:30,25,22,20;l:30,25,22,20;>Know more</rs-layer>
                            </rs-slide>
                            <rs-slide data-anim=ms:1000;r:0; data-in=o:0; data-iratio=0.98 data-key=rs-1748 data-out=a:false; data-thumb=img/rs-carousel/3slide.jpg data-title=Slide style=position:absolute><img alt="" src=img/rs-carousel/3slide.jpg height=1200 width=1176 class="rev-slidebg rs-lazyload tp-rs-img" title=hq4.jpg>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;blu:7px;cp:0%; data-frame_1=sp:1000;blu:7px;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1748-layer-0 style=z-index:8;background-color:rgba(0,0,0,.5) data-dim=w:100%;h:100%;>
                                    <rs-bg-elem data-bglazy=img/rs-carousel/3slide.jpg style="background:url(img/rs-carousel/dummy.png) no-repeat center center;background-size:cover"></rs-bg-elem>
                                </rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;cp:0%; data-frame_1=sp:1000;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1748-layer-1 style=z-index:9;background-color:rgba(255,255,255,.05) data-dim=w:100%;h:100%;></rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:40;l:40; data-type=text id=slider-839-slide-1748-layer-2 style=z-index:13;font-family:Staatliches data-xy=xo:30px,30px,20px,20px;yo:30px,30px,20px,20px; class=rs-on-car>03</rs-layer>
                                <rs-layer data-clip=u:true;o:cv; data-frame_0=o:1;cp:0%; data-frame_1=e:power4.out;sp:2000; data-frame_999=st:w;sp:1000;sR:7000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=s:78,68,48,35;l:78,68,48,35; data-type=text id=slider-839-slide-1748-layer-3 style=z-index:10;font-family:Staatliches data-xy=x:c;y:m;>Chhattisgarh, Nov 2023</rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:22,20;l:50,40;fw:600; data-type=text id=slider-839-slide-1748-layer-5 style=z-index:11;font-family:Inconsolata;cursor:pointer data-xy=x:c;y:b;yo:140px; data-border=bos:solid;boc:#ffffff;bow:1px,1px,1px,1px; data-frame_hover=c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut; data-padding=r:30,25,22,20;l:30,25,22,20;>Know more</rs-layer>
                            </rs-slide>
                            <rs-slide data-anim=ms:1000;r:0; data-in=o:0; data-iratio=1.33167 data-key=rs-1749 data-out=a:false; data-thumb=img/rs-carousel/4slide.jpg data-title=Slide style=position:absolute><img alt="" src=img/rs-carousel/4slide.jpg height=1200 width=1598 class="rev-slidebg rs-lazyload tp-rs-img" title=hq1.jpg>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;blu:7px;cp:0%; data-frame_1=sp:1000;blu:7px;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1749-layer-0 style=z-index:8;background-color:rgba(0,0,0,.5) data-dim=w:100%;h:100%;>
                                    <rs-bg-elem data-bglazy=img/rs-carousel/4slide.jpg style="background:url(img/rs-carousel/dummy.png) no-repeat center center;background-size:cover"></rs-bg-elem>
                                </rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;cp:0%; data-frame_1=sp:1000;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1749-layer-1 style=z-index:9;background-color:rgba(255,255,255,.05) data-dim=w:100%;h:100%;></rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:40;l:40; data-type=text id=slider-839-slide-1749-layer-2 style=z-index:14;font-family:Staatliches data-xy=xo:30px,30px,20px,20px;yo:30px,30px,20px,20px; class=rs-on-car>04</rs-layer>
                                <rs-layer data-clip=u:true;o:cv; data-frame_0=o:1;cp:0%; data-frame_1=e:power4.out;sp:2000; data-frame_999=st:w;sp:1000;sR:7000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=s:78,68,48,35;l:78,68,48,35; data-type=text id=slider-839-slide-1749-layer-3 style=z-index:11;font-family:Staatliches data-xy=x:c;y:m;>Madhya Pradesh, 2023</rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:22,20;l:50,40;fw:600; data-type=text id=slider-839-slide-1749-layer-5 style=z-index:12;font-family:Inconsolata;cursor:pointer data-xy=x:c;y:b;yo:140px; data-border=bos:solid;boc:#ffffff;bow:1px,1px,1px,1px; data-frame_hover=c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut; data-padding=r:30,25,22,20;l:30,25,22,20;>Know more</rs-layer>
                            </rs-slide>
                            <rs-slide data-anim=ms:1000;r:0; data-in=o:0; data-iratio=0.98 data-key=rs-1751 data-out=a:false; data-thumb=img/rs-carousel/5slide.jpg data-title=Slide style=position:absolute><img alt="" src=img/rs-carousel/5slide.jpg height=1200 width=1176 class="rev-slidebg rs-lazyload tp-rs-img" title=hq4.jpg>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;blu:7px;cp:0%; data-frame_1=sp:1000;blu:7px;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1751-layer-0 style=z-index:8;background-color:rgba(0,0,0,.5) data-dim=w:100%;h:100%;>
                                    <rs-bg-elem data-bglazy=img/rs-carousel/5slide.jpg style="background:url(img/rs-carousel/dummy.png) no-repeat center center;background-size:cover"></rs-bg-elem>
                                </rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;cp:0%; data-frame_1=sp:1000;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1751-layer-1 style=z-index:9;background-color:rgba(255,255,255,.05) data-dim=w:100%;h:100%;></rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:40;l:40; data-type=text id=slider-839-slide-1751-layer-2 style=z-index:13;font-family:Staatliches data-xy=xo:30px,30px,20px,20px;yo:30px,30px,20px,20px; class=rs-on-car>05</rs-layer>
                                <rs-layer data-clip=u:true;o:cv; data-frame_0=o:1;cp:0%; data-frame_1=e:power4.out;sp:2000; data-frame_999=st:w;sp:1000;sR:7000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=s:78,68,48,35;l:78,68,48,35; data-type=text id=slider-839-slide-1751-layer-3 style=z-index:10;font-family:Staatliches data-xy=x:c;y:m;>Karnataka. May 2023</rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:22,20;l:50,40;fw:600; data-type=text id=slider-839-slide-1751-layer-5 style=z-index:11;font-family:Inconsolata;cursor:pointer data-xy=x:c;y:b;yo:140px; data-border=bos:solid;boc:#ffffff;bow:1px,1px,1px,1px; data-frame_hover=c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut; data-padding=r:30,25,22,20;l:30,25,22,20;>Know more</rs-layer>
                            </rs-slide>
                            <rs-slide data-anim=ms:1000;r:0; data-in=o:0; data-iratio=0.98 data-key=rs-1752 data-out=a:false; data-thumb=img/rs-carousel/6slide.jpg data-title=Slide style=position:absolute><img alt="" src=img/rs-carousel/6slide.jpg height=1200 width=1176 class="rev-slidebg rs-lazyload tp-rs-img"  title=hq4.jpg>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;blu:7px;cp:0%; data-frame_1=sp:1000;blu:7px;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1752-layer-0 style=z-index:8;background-color:rgba(0,0,0,.5) data-dim=w:100%;h:100%;>
                                    <rs-bg-elem data-bglazy=img/rs-carousel/6slide.jpg style="background:url(img/rs-carousel/dummy.png) no-repeat center center;background-size:cover"></rs-bg-elem>
                                </rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;cp:0%; data-frame_1=sp:1000;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1752-layer-1 style=z-index:9;background-color:rgba(255,255,255,.05) data-dim=w:100%;h:100%;></rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:40;l:40; data-type=text id=slider-839-slide-1752-layer-2 style=z-index:13;font-family:Staatliches data-xy=xo:30px,30px,20px,20px;yo:30px,30px,20px,20px; class=rs-on-car>06</rs-layer>
                                <rs-layer data-clip=u:true;o:cv; data-frame_0=o:1;cp:0%; data-frame_1=e:power4.out;sp:2000; data-frame_999=st:w;sp:1000;sR:7000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=s:78,68,48,35;l:78,68,48,35; data-type=text id=slider-839-slide-1752-layer-3 style=z-index:10;font-family:Staatliches data-xy=x:c;y:m;>Gujarat, Dec 2022</rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:22,20;l:50,40;fw:600; data-type=text id=slider-839-slide-1752-layer-5 style=z-index:11;font-family:Inconsolata;cursor:pointer data-xy=x:c;y:b;yo:140px; data-border=bos:solid;boc:#ffffff;bow:1px,1px,1px,1px; data-frame_hover=c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut; data-padding=r:30,25,22,20;l:30,25,22,20;>Know more</rs-layer>
                            </rs-slide>
                            <rs-slide data-anim=ms:1000;r:0; data-in=o:0; data-iratio=0.98 data-key=rs-1753 data-out=a:false; data-thumb=img/rs-carousel/7slide.jpg data-title=Slide style=position:absolute><img alt="" src=img/rs-carousel/7slide.jpg height=1200 width=1176 class="rev-slidebg rs-lazyload tp-rs-img"  title=hq4.jpg>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;blu:7px;cp:0%; data-frame_1=sp:1000;blu:7px;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1753-layer-0 style=z-index:8;background-color:rgba(0,0,0,.5) data-dim=w:100%;h:100%;>
                                    <rs-bg-elem data-bglazy=img/rs-carousel/7slide.jpg style="background:url(img/rs-carousel/dummy.png) no-repeat center center;background-size:cover"></rs-bg-elem>
                                </rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;cp:0%; data-frame_1=sp:1000;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1753-layer-1 style=z-index:9;background-color:rgba(255,255,255,.05) data-dim=w:100%;h:100%;></rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:40;l:40; data-type=text id=slider-839-slide-1753-layer-2 style=z-index:13;font-family:Staatliches data-xy=xo:30px,30px,20px,20px;yo:30px,30px,20px,20px; class=rs-on-car>07</rs-layer>
                                <rs-layer data-clip=u:true;o:cv; data-frame_0=o:1;cp:0%; data-frame_1=e:power4.out;sp:2000; data-frame_999=st:w;sp:1000;sR:7000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=s:78,68,48,35;l:78,68,48,35; data-type=text id=slider-839-slide-1753-layer-3 style=z-index:10;font-family:Staatliches data-xy=x:c;y:m;>Himachal Pradesh, Nov 2022</rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:22,20;l:50,40;fw:600; data-type=text id=slider-839-slide-1753-layer-5 style=z-index:11;font-family:Inconsolata;cursor:pointer data-xy=x:c;y:b;yo:140px; data-border=bos:solid;boc:#ffffff;bow:1px,1px,1px,1px; data-frame_hover=c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut; data-padding=r:30,25,22,20;l:30,25,22,20;>Know more</rs-layer>
                            </rs-slide>
                            <rs-slide data-anim=ms:1000;r:0; data-in=o:0; data-iratio=1.33167 data-key=rs-1754 data-out=a:false; data-thumb=img/rs-carousel/8slide.jpg data-title=Slide style=position:absolute><img alt="" src=img/rs-carousel/8slide.jpg height=1200 width=1598 class="rev-slidebg rs-lazyload tp-rs-img"  title=hq1.jpg>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;blu:7px;cp:0%; data-frame_1=sp:1000;blu:7px;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1754-layer-0 style=z-index:8;background-color:rgba(0,0,0,.5) data-dim=w:100%;h:100%;>
                                    <rs-bg-elem data-bglazy=img/rs-carousel/8slide.jpg style="background:url(img/rs-carousel/dummy.png) no-repeat center center;background-size:cover"></rs-bg-elem>
                                </rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=o:1;cp:0%; data-frame_1=sp:1000;cp:50%; data-frame_999=st:w;sp:1000;sR:7500;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal; data-type=shape id=slider-839-slide-1754-layer-1 style=z-index:9;background-color:rgba(255,255,255,.05) data-dim=w:100%;h:100%;></rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:40;l:40; data-type=text id=slider-839-slide-1754-layer-2 style=z-index:14;font-family:Staatliches data-xy=xo:30px,30px,20px,20px;yo:30px,30px,20px,20px; class=rs-on-car>08</rs-layer>
                                <rs-layer data-clip=u:true;o:cv; data-frame_0=o:1;cp:0%; data-frame_1=e:power4.out;sp:2000; data-frame_999=st:w;sp:1000;sR:7000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=s:78,68,48,35;l:78,68,48,35; data-type=text id=slider-839-slide-1754-layer-3 style=z-index:11;font-family:Staatliches data-xy=x:c;y:m;>Punjab, Feb 2022</rs-layer>
                                <rs-layer data-clip=u:true; data-frame_0=cp:0%; data-frame_1=e:power4.out;sp:1000; data-frame_999=st:w;sp:1000;sR:8000;auto:true; data-rsp_bd=off data-rsp_o=off data-text=w:normal;s:22,20;l:50,40;fw:600; data-type=text id=slider-839-slide-1754-layer-5 style=z-index:12;font-family:Inconsolata;cursor:pointer data-xy=x:c;y:b;yo:140px; data-border=bos:solid;boc:#ffffff;bow:1px,1px,1px,1px; data-frame_hover=c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut; data-padding=r:30,25,22,20;l:30,25,22,20;>Know more</rs-layer>
                            </rs-slide>
                        </rs-slides>
                    </rs-module>
                </rs-module-wrap> -->
            </div>
        </div>
        <section class=faqs-section-two>
            <div class=auto-container>
                <div class=row>
                    <div class="col-lg-6 fadeInRight faq-column wow">
                        <div class=inner-column>
                            <div class=heading-row>
                                <h2 class="text-white heading-h2">Our Story</h2>
                            </div>
                            <div class=wpb_wrapper>
                                <p class=text-white>Indian Political Action Committee (I-PAC) is the platform of choice for students and young professionals to participate in and make meaningful contribution to political affairs and governance of the country, without necessarily being part of a political party.<p class=text-white>Started as Citizens for Accountable Governance (CAG) in 2013, I-PAC has brought some of the best minds from diverse academic and professional backgrounds together and provided them with a unique opportunity to become a part of the election process and influence policy making in India.<p class=text-white>I-PAC works with visionary leaders with a proven track record. In the process, the group helps them set a citizen-centric agenda and partners with them to conceptualize & implement the most effective methods of taking it to the public and gathering mass support.<div class="button-row sm-mb-30">
                                    <a href="/services" class="mil-arrow-place mil-btn-space mil-button"><span>What we do</span><svg class=mil-arrow viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M 14 5.3417969 C 13.744125 5.3417969 13.487969 5.4412187 13.292969 5.6367188 L 13.207031 5.7226562 C 12.816031 6.1136563 12.816031 6.7467188 13.207031 7.1367188 L 17.070312 11 L 4 11 C 3.448 11 3 11.448 3 12 C 3 12.552 3.448 13 4 13 L 17.070312 13 L 13.207031 16.863281 C 12.816031 17.254281 12.816031 17.887344 13.207031 18.277344 L 13.292969 18.363281 C 13.683969 18.754281 14.317031 18.754281 14.707031 18.363281 L 20.363281 12.707031 C 20.754281 12.316031 20.754281 11.682969 20.363281 11.292969 L 14.707031 5.6367188 C 14.511531 5.4412187 14.255875 5.3417969 14 5.3417969 z"></path>
                                                    </svg></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 image-column">
                        <div class=inner-column>
                            <div class=image-box>
                                <figure class=image><img alt="" src="https://webncy-next.vercel.app/images/resource/faq2-1.jpg"></figure>
                                <div class=exp-box>
                                    <figure class=image><img alt="" src="https://webncy-next.vercel.app/images/resource/iconv2-1.png"></figure>
                                    <div class=text>It’s Trusted & Top Digital Websites Agency</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class=demo-slider>
            <div class=heading-row>
                <h2 class="heading-h2 text-white text-center ">Our Fan Pages</h2>
            </div>
            <div class="mySwiper swiper">
                <div class=swiper-wrapper>
                    <div class=swiper-slide>
                        <div class=item>
                          <a href="https://www.facebook.com/jairamsarkarbjp">
                            <div class=img><img alt=""  src="../../../assets/img/ng-carousel/1st.jpg" decoding=async>
                                <div class=cont><span class=view-more-link> View More</span></div>
                                <div  class=plink></div>
                            </div>
                          </a>
                        </div>
                    </div>
                    <div class=swiper-slide>
                        <div class=item>
                            <a href="https://www.facebook.com/jairamthakurforhimachal">
                                <div class=img><img alt="" src="../../../assets/img/ng-carousel/2nd.jpg" decoding=async>
                                    <div class=cont><span class=view-more-link> View More</span></div>
                                    <div  class=plink></div>
                                </div>
                              </a>
                        </div>
                    </div>
                    <div class=swiper-slide>
                        <div class=item>
                            <a href="https://www.facebook.com/Wesupportbjp4india">
                                <div class=img><img alt="" src="../../../assets/img/ng-carousel/3rd.jpg" decoding=async>
                                    <div class=cont><span class=view-more-link> View More</span></div>
                                    <div  class=plink></div>
                                </div>
                              </a>
                        </div>
                    </div>
                    <div class=swiper-slide>
                        <div class=item>
                            <a href="https://www.facebook.com/ISupportModiandJaiRamThakur">
                                <div class=img><img alt="" src="../../../assets/img/ng-carousel/4th.jpg" decoding=async>
                                    <div class=cont><span class=view-more-link> View More</span></div>
                                    <div  class=plink></div>
                                </div>
                              </a>
                        </div>
                    </div>
                    <div class=swiper-slide>
                        <div class=item>
                            <a href="https://www.facebook.com/Himachalkachowkidar">
                                <div class=img><img alt="" src="../../../assets/img/ng-carousel/5th.jpg" decoding=async>
                                    <div class=cont><span class=view-more-link> View More</span></div>
                                    <div  class=plink></div>
                                </div>
                              </a>
                        </div>
                    </div>
                    <div class=swiper-slide>
                        <div class=item>
                            <a href="https://www.facebook.com/JaiRamThakurJi">
                                <div class=img><img alt="" src="../../../assets/img/ng-carousel/6th.jpg" decoding=async>
                                    <div class=cont><span class=view-more-link> View More</span></div>
                                    <div  class=plink></div>
                                </div>
                              </a>
                        </div>
                    </div>
                    <div class=swiper-slide>
                        <div class=item>
                            <a href="https://www.facebook.com/modijairamthakur">
                                <div class=img><img alt="" src="../../../assets/img/ng-carousel/7th.jpg" decoding=async>
                                    <div class=cont><span class=view-more-link> View More</span></div>
                                    <div  class=plink></div>
                                </div>
                              </a>
                        </div>
                    </div>


 
                </div>
            </div>
        </div>
        <div class=gallery-wrapper>
            <div class=content>
                <div class="gallery full">
                    <div class=swiper-container>
                        <div class=swiper-wrapper>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-01.jpg" ></div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-02.jpg" ></div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-05.png" ></div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-06.png" ></div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-07.png" ></div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Picture1.jpg" ></div>
                            </div>
                        </div>
                    </div>
                    <div class=swiper-next-button><em class=material-icons><i class="las la-angle-right"></i></em></div>
                    <div class=swiper-prev-button><em class=material-icons><i class="las la-angle-left"></i></em></div>
                </div>
                <div class="gallery thumb">
                    <div class=swiper-container>
                        <div class=swiper-wrapper>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-01.jpg" >
                                    <div class=overlay><em class=material-icons><i class="la-eye lar"></i></em></div>
                                </div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-02.jpg" >
                                    <div class=overlay><em class=material-icons><i class="la-eye lar"></i></em></div>
                                </div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-05.png">
                                    <div class=overlay><em class=material-icons><i class="la-eye lar"></i></em></div>
                                </div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-06.png">
                                    <div class=overlay><em class=material-icons><i class="la-eye lar"></i></em></div>
                                </div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-07.png">
                                    <div class=overlay><em class=material-icons><i class="la-eye lar"></i></em></div>
                                </div>
                            </div>
                            <div class=swiper-slide>
                                <div class=image><img alt="" src="../../../assets/img/carousel/Picture1.jpg">
                                    <div class=overlay><em class=material-icons><i class="la-eye lar"></i></em></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class=team-section>
            <div class=vector-layer></div>
            <div class=auto-container>
                <div class=heading-row>
                    <h2 class="text-white heading-h2">Our Team</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 team-block">
                        <div class=inner-box>
                            <div class=image><img alt="" src="https://jufailitech.com/envatoitems/GoAge/html/images/resource/team-1.jpg">
                                <div class=overlay-box>
                                    <div class=overlay-inner>
                                        <ul class=social-box>
                                            <li><a href="https://www.facebook.com/" class="lab la-facebook-f"></a>
                                            <li><a href="https://www.twitter.com/" class="lab la-linkedin-in"></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class=content>
                                <h4><a href=team-detail.html>George Leis</a></h4>
                                <div class=designation>Marketing Specialt</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 team-block">
                        <div class=inner-box>
                            <div class=image><img alt="" src="https://jufailitech.com/envatoitems/GoAge/html/images/resource/team-1.jpg">
                                <div class=overlay-box>
                                    <div class=overlay-inner>
                                        <ul class=social-box>
                                            <li><a href="https://www.facebook.com/" class="lab la-facebook-f"></a>
                                            <li><a href="https://www.twitter.com/" class="lab la-linkedin-in"></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class=content>
                                <h4><a href=team-detail.html>George Leis</a></h4>
                                <div class=designation>Marketing Specialt</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=tab-section-container id=expertise>
            <div class=container>
                <div class=section__wrapper>
                    <div class=section__info>
                        <nav class=tab><label data-id=0 class=active> lorme2</label> <label data-id=1> lorme2</label> <label data-id=2> lorme2</label> <label data-id=3> lorme2</label></nav>
                        <div class="info__box uno show" data-content=0>
                            <div class=info__box--text>
                                <div class="section__heading--inner section__heading--left section__text--heading">
                                    <h2 class="heading--2 section__heading">Lorem ipsum dolor sit amet consectetur.</h2>
                                    <p class=section__caption>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<p class=section__caption>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis reiciendis quaerat quis voluptas reprehenderit consequuntur ad sint laborum adipisci voluptatibus! Iusto dolorum quo ipsam asperiores hic soluta eaque optio laboriosam?
                                </div><a href=# class="btn btn--primary">buy</a>
                            </div>
                            <div class=info__box--img><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-01.jpg" ></div>
                        </div>
                        <div class="info__box uno hide" data-content=1>
                            <div class=info__box--text>
                                <div class="section__heading--inner section__heading--left section__text--heading">
                                    <h2 class="heading--2 section__heading">Lorem ipsum dolor sit amet consectetur.</h2>
                                    <p class=section__caption>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<p class=section__caption>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis reiciendis quaerat quis voluptas reprehenderit consequuntur ad sint laborum adipisci voluptatibus! Iusto dolorum quo ipsam asperiores hic soluta eaque optio laboriosam?
                                </div><a href=# class="btn btn--primary">buy</a>
                            </div>
                            <div class=info__box--img><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-01.jpg" ></div>
                        </div>
                        <div class="info__box uno hide" data-content=2>
                            <div class=info__box--text>
                                <div class="section__heading--inner section__heading--left section__text--heading">
                                    <h2 class="heading--2 section__heading">Lorem ipsum dolor sit amet consectetur.</h2>
                                    <p class=section__caption>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<p class=section__caption>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis reiciendis quaerat quis voluptas reprehenderit consequuntur ad sint laborum adipisci voluptatibus! Iusto dolorum quo ipsam asperiores hic soluta eaque optio laboriosam?
                                </div><a href=# class="btn btn--primary">buy</a>
                            </div>
                            <div class=info__box--img><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-01.jpg" ></div>
                        </div>
                        <div class="info__box uno hide" data-content=3>
                            <div class=info__box--text>
                                <div class="section__heading--inner section__heading--left section__text--heading">
                                    <h2 class="heading--2 section__heading">Lorem ipsum dolor sit amet consectetur.</h2>
                                    <p class=section__caption>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<p class=section__caption>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis reiciendis quaerat quis voluptas reprehenderit consequuntur ad sint laborum adipisci voluptatibus! Iusto dolorum quo ipsam asperiores hic soluta eaque optio laboriosam?
                                </div><a href=# class="btn btn--primary">buy</a>
                            </div>
                            <div class=info__box--img><img alt="" src="../../../assets/img/carousel/Final-BJP-HP-01.jpg" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="portfolio-columns-3 portfolio-gaps">
            <article class="hentry odd status-publish page post-69 type-page" id=post-69>
                <div class=heading-row>
                    <h2 class=heading-h2>Need Any<br class="d-lg-block d-none">Consultations ?</h2>
                </div>
                <div class=kktfwp-projects-wrapper>
                    <div class=p-filter>
                        <ul>
                            <li data-slug=overall><a href=# class="kktfwp-filter-btn active" data-filter=.all>All</a>
                            <li data-slug=advertising><a href=# class=kktfwp-filter-btn data-filter=.portfolio-type-advertising>Advertising</a>
                            <li data-slug=branding><a href=# class=kktfwp-filter-btn data-filter=.portfolio-type-branding>Branding</a>
                            <li data-slug=digital><a href=# class=kktfwp-filter-btn data-filter=.portfolio-type-digital>Digital</a>
                            <li data-slug=web-design><a href=# class=kktfwp-filter-btn data-filter=.portfolio-type-web-design>Web design</a>
                        </ul>
                    </div>
                    <div class=kktfwp-projects>
                        <div class=gutter-size></div>
                        <div class=grid-size></div>
                        <div class="hentry odd status-publish all filterable-project has-post-thumbnail kktfwp_portfolio portfolio-project type-kktfwp_portfolio portfolio-type-branding portfolio-type-advertising post-7" id=7><a href=# class=has-overlay id=overlay_7>
                                <div class=img-h><img alt="Pure Juice" src="../../../assets/img/gallery/gallery-1.jpg"  height=800 width=800 id=image_7></div>
                            </a></div>
                        <div class="hentry odd status-publish all filterable-project has-post-thumbnail kktfwp_portfolio portfolio-project type-kktfwp_portfolio portfolio-type-branding post-495" id=495><a href=# class=has-overlay id=overlay_495>
                                <div class=img-h><img alt="The Bottle" src="../../../assets/img/gallery/gallery-2.jpg"  height=800 width=800 id=image_495></div>
                            </a></div>
                        <div class="hentry odd status-publish all filterable-project has-post-thumbnail kktfwp_portfolio portfolio-project type-kktfwp_portfolio portfolio-type-branding post-9" id=9><a href=# class=has-overlay id=overlay_9>
                                <div class=img-h><img alt="Lolly Molly" src="../../../assets/img/gallery/gallery-3.jpg"  height=800 width=800 id=image_9></div>
                            </a></div>
                        <div class="hentry odd status-publish all filterable-project has-post-thumbnail kktfwp_portfolio portfolio-project type-kktfwp_portfolio portfolio-type-branding portfolio-type-digital post-17" id=17><a href=# class=has-overlay id=overlay_17>
                                <div class=img-h><img alt="Woman T-shirt" src="../../../assets/img/gallery/gallery-4.jpg"  height=800 width=800 id=image_17></div>
                            </a></div>
                        <div class="hentry odd status-publish all filterable-project has-post-thumbnail kktfwp_portfolio portfolio-project type-kktfwp_portfolio portfolio-type-advertising portfolio-type-digital post-42" id=42><a href=# class=has-overlay id=overlay_42>
                                <div class=img-h><img alt="Enamel Mug" src="../../../assets/img/gallery/gallery-5.jpg"  height=800 width=800 id=image_42></div>
                            </a></div>
                        <div class="hentry odd status-publish all filterable-project has-post-thumbnail kktfwp_portfolio portfolio-project type-kktfwp_portfolio portfolio-type-branding portfolio-type-web-design post-32" id=32><a href=# class=has-overlay id=overlay_32>
                                <div class=img-h><img alt="Cofee Cup" src="../../../assets/img/gallery/gallery-1.jpg"  height=800 width=800 id=image_32></div>
                            </a></div>
                    </div>
                </div>
                <div class=kktfwp-loader-wrapper>
                    <div class=button-row><a href="/services" class="mil-arrow-place mil-btn-space mil-button"><span>What we do</span><svg class="mil-arrow" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M 14 5.3417969 C 13.744125 5.3417969 13.487969 5.4412187 13.292969 5.6367188 L 13.207031 5.7226562 C 12.816031 6.1136563 12.816031 6.7467188 13.207031 7.1367188 L 17.070312 11 L 4 11 C 3.448 11 3 11.448 3 12 C 3 12.552 3.448 13 4 13 L 17.070312 13 L 13.207031 16.863281 C 12.816031 17.254281 12.816031 17.887344 13.207031 18.277344 L 13.292969 18.363281 C 13.683969 18.754281 14.317031 18.754281 14.707031 18.363281 L 20.363281 12.707031 C 20.754281 12.316031 20.754281 11.682969 20.363281 11.292969 L 14.707031 5.6367188 C 14.511531 5.4412187 14.255875 5.3417969 14 5.3417969 z"></path>
                            </svg></a></div>
                </div>
            </article>
        </div>
    </div>





    <div class="contact-page-col">
        <section class="contact-page-area py-130 rpy-100 rel z-1">
            <div class="container-xl-xl">
                <div class="row-grig justify-content-between">
                    <div class="col-lg-item">
                        <div class="our-location-part rmb-55 wow fadeInUp delay-0-2s" style="visibility: visible;">
                            <div class="row">
                                <div class="col-xl-10">
                                

                                    <div class="heading-row section-title">
                                        <span class="sub-title mb-15">Contact Us</span>
                                        <h2 class=" heading-h2">Ready to Work Your Next Projects</h2>
                                    </div>


                                    
                                </div>
                            </div>
                            <div class="row gap-80 pb-30">
                                <div class="col-sm-12">
                                    <div class="our-location-address mb-40">
                                        <h5>New York</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos ratione totam rem culpa corrupti ad minus accusantium labore soluta ullam.</p>
                                        <!-- <a class="mailto"
                                            href="mailto:support@gmail.com">support@gmail.com</a>
                                            <br>
                                            
                                            <br><i class="las la-phone-volume"></i> +000 (123) 456
                                            88</a> -->
                                    </div>
                                </div>
                            
                            </div>
                            <h4>Follow Us</h4>
                            <div class="social-style-two "><a href="#"><i class="lab la-facebook-f"></i></a><a
                                    href="#"><i class="lab la-twitter"></i></a><a href="#">
                                        <i class="lab la-instagram"></i></a><a href="#">
                                            
                                            <i class="lab la-linkedin-in"></i></a></div>
                        </div>
                    </div>
                    <div class="col-xl-item">
                        <div class="contact-page-form form-style-one wow fadeInUp delay-0-2s"
                            style="visibility: visible;">
                            <div class="section-title mb-35"><span class="sub-title mb-15">Get Free Quote</span>
                                <h3>Drop Us a Message</h3>
                            </div>
                            <form id="contactForm" class="contactForm" action="assets/php/form-process.php"
                                name="contactForm" method="post">
                                <div class="row gap-60 pt-15">
                                    <div class="col-md-12">
                                        <div class="form-group"><label for="name"><i
                                                    class="far fa-user"></i></label><input type="text" id="name"
                                                name="name" class="form-control" placeholder="Full Name" required=""
                                                data-error="Please enter your name" value="true">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><label for="phone_number"><i
                                                    class="far fa-phone"></i></label><input type="text"
                                                id="phone_number" name="phone_number" class="form-control"
                                                placeholder="Phone" required="" data-error="Please enter your Number"
                                                value="true">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><label for="email"><i
                                                    class="far fa-envelope"></i></label><input type="email" id="email"
                                                name="email" class="form-control" placeholder="Email Address"
                                                required="" data-error="Please enter your Email Address" value="true">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><label for="message"><i
                                                    class="far fa-pencil"></i></label><textarea name="message"
                                                id="message" class="form-control" rows="2" placeholder="Message"
                                                required="" data-error="Please enter your Message"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group pt-5 mb-0"><button type="submit"
                                                class="theme-btn style-two w-100">Send Message us <i
                                                    class="far fa-arrow-right"></i></button>
                                            <div id="msgSubmit" class="hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>