<main class="root-about ">
    <section class="bg-center bg-no-repeat bg-cover h-96 relative" style="background-image:url(https://react-arvilax.vercel.app/assets/img/breadcrumb/breadcrumb-bg-2.jpg)">
        <div class="container-xl-xl">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content text-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full z-10">
                        <h3 class="breadcrumb__title text-white font-bold text-5xl">COO</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="hero-area">
        <div class="container mx-auto flex flex-wrap items-center justify-center">
            <!-- Thin box -->
            <div class="border border-gray-300 p-4 rounded-lg flex">
                <div class="border border-gray-300 p-4 rounded-lg flex md:w-1/2">
                    <!-- First User Section -->
                    <div class="w-full flex">
                        <div class="hero-img md:w-1/3">
                            <img src="../../../assets/img/about-page/coo.jpeg" alt="Hero">
                        </div>
                        <div class="hero-content-right md:w-2/3">
                            <div class="hero-content-bottom">
                                <div class="hero-content bg-white p-6 md:p-8 rounded-lg">
                                    <span class="block text-center text-xs text-gray-700">A WEB DEVELOPER</span>
                                    <h1 class="text-3xl md:text-4xl text-center font-bold">David Henderson</h1>
                                    <p class="text-gray-700 text-sm md:text-base text-center mt-4">I am a San francisco-based product designer with a focus on web design, illustration, a visual development. I have a diverse range of experience and industries.</p>
                                    <div class="team-member-info-list mt-4 text-center">
                                        <ul>
                                            <li>Expertise: Planning, Strategy</li>
                                            <li>Experience: 15 Years</li>
                                            <li>E-mail: <a href="mailto:israfilsupol.info@gmail.com" class="text-blue-500">Israfilsupol.info&#64;gmail.com</a></li>
                                            <li>Phone: <a href="tel:507-452-1254" class="text-blue-500">507-452-1254</a></li>
                                        </ul>
                                    </div>
                                    <div class="team-social-icons mt-6 flex justify-center">
                                        <span class="inline-block mr-3">
                                            <a href="#"><i class="lab la-facebook-f text-white"></i></a>
                                        </span>
                                        <span class="inline-block mr-3">
                                            <a href="#"><i class="lab la-instagram text-white"></i></a>
                                        </span>
                                        <span class="inline-block mr-3">
                                            <a href="#"><i class="lab la-twitter text-white"></i></a>
                                        </span>
                                        <span class="inline-block">
                                            <a href="#"><i class="lab la-pinterest text-white"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="border border-gray-300 p-4 ml-1 rounded-lg flex md:w-1/2">
                    <!-- Second User Section -->
                    <div class="w-full flex">
                        <div class="hero-img md:w-1/3 h-fit">
                            <img src="../../../assets/img/about-page/coo.jpeg" alt="Hero">
                        </div>
                        <div class="hero-content-right md:w-2/3 place-content-center">
                            <div class="hero-content-bottom">
                                <div class="hero-content bg-white md:p-8 rounded-lg">
                                    <span class="block text-center text-xs text-gray-700">A WEB DEVELOPER</span>
                                    <h1 class="text-3xl md:text-4xl text-center font-bold">David Henderson</h1>
                                    <p class="text-gray-700 text-sm md:text-base text-center mt-4">I am a San francisco-based product designer with a focus on web design, illustration, a visual development. I have a diverse range of experience and industries.</p>
                                    <div class="team-member-info-list mt-4 text-center">
                                        <ul>
                                            <li>Expertise: Planning, Strategy</li>
                                            <li>Experience: 15 Years</li>
                                            <li>E-mail: <a href="mailto:israfilsupol.info@gmail.com" class="text-blue-500">Israfilsupol.info&#64;gmail.com</a></li>
                                            <li>Phone: <a href="tel:507-452-1254" class="text-blue-500">507-452-1254</a></li>
                                        </ul>
                                    </div>
                                    <div class="team-social-icons mt-6 flex justify-center">
                                        <span class="inline-block mr-3">
                                            <a href="#"><i class="lab la-facebook-f text-white"></i></a>
                                        </span>
                                        <span class="inline-block mr-3">
                                            <a href="#"><i class="lab la-instagram text-white"></i></a>
                                        </span>
                                        <span class="inline-block mr-3">
                                            <a href="#"><i class="lab la-twitter text-white"></i></a>
                                        </span>
                                        <span class="inline-block">
                                            <a href="#"><i class="lab la-pinterest text-white"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-main-content bg-gray-400 py-12 md:py-16 m-4 p-4">
        <div class="container-xl-xl">
            <div class="team-page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="team-page-text">
                            <h3 class="team-title-text text-2xl md:text-3xl mb-6">About David Henderson</h3>
                            <p class="text-gray-700 text-sm md:text-base mb-6">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.</p>
                            <p class="text-gray-700 text-sm md:text-base">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>
